/*DOM*/
html, body {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}
body {
	color: grey;
}
/*CLASS*/
.splash,.startPage,.divBase {
    opacity: 0;
}
.splash_full,.startPage_full,.divBase_full {
    opacity: 1;
}
.startBtnHolder {
    display: inline-grid;
}
.startBtnHolder button {
    margin: .3em auto;
    font-size: 5vh;
    width:70vw;
    line-height: 10vh;

}
/*ID*/

/*MULTI*/
.splash, .splash_full{
    transition:1s all;
    text-align: center;
    line-height: 70vh;
    cursor: default;
}
.startPage, .startPage_full {
    transition:1s all;
    text-align: center;
    height: 50vh;
    margin: 5vh 0;
    width: 100vw;
}

.divBase,.divBase_full {
    transition:1s all;
    background-color: darkgrey;
    color:white;
    width: 100vw;
    height: 100vh;
}
/*KEYFRAME*/

/* phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/

}

/* portrait tablets and large phones, 600px and up */
@media only screen and (min-width: 600px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/
	
}

/* landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/
	
} 

/* laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/
	
} 

/* large laptops and desktops, 1200px and up */
@media only screen and (min-width: 1200px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/
	
}