/*DOM*/
html, body {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bolder;
}
body {
	color: grey;
}
button {
    font-weight: bolder;
    cursor: pointer;
}
::selection {
    background: rgba(255, 255, 255, 0);
}
/*CLASS*/
.splash,.startPage,.divBase {
    opacity: 0;
}
.splash_full,.startPage_full,.divBase_full {
    opacity: 1;
}
.startBtnHolder {
    display: inline-grid;
}
.startBtnHolder button {
    margin: .3em auto;
    font-size: 5vh;
    width:60vw;
    line-height: 10vh;
}
.pLabel {
    background-color: rgba(0,0,0,.5);
    margin: 0;
    line-height:50px;
    text-indent: 10px;
    cursor: default;
}
.xOut {
    position: absolute;
    right:0;
    font-size: .84em;
    background-color: grey;
    border:none;
}
.lvHolder {
    margin:0 5vw;
    width:90vw;
}

.box {
    display: none;
}
.box_full {
    display:inline-grid;
}
.star {
    filter: grayscale(60%);
    opacity: .3;
}
.star_full {
    filter: grayscale(40%);
}
.lttr {
    box-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
    text-align: center;
    width:6vw;
    line-height: 6vw;
    font-size: 5vw;
    margin:.7vw;
    background-color: silver;
    display:inline-block;
    cursor: pointer;
}
.lttr:hover {
    background-color: darkgrey;
}
.lttr:active {
    opacity: .6;
}
.letterBox {
    position: fixed;
    bottom: 1vw;
    text-align: center;
    width:100vw;

}
.hangBox {
    background-color: white;
    color:black;
    width: 100vw;
    height:calc(100vh - 50px);
    text-align: center;
}
.blankletterGrid {
    font-size:6vw;
    cursor: default;
    letter-spacing: 10px;
}
.letter {
    display: inline-block;
}
.botBtn {
    background: white;
    text-align: center;
    margin:20px 0;
    width:100vw;
    height: 50vh;
}

.botHead {
    width:100px;
    height: 100px;
}
.botBody {
    width:100px;
    height: 126px;
}
.botLeftArm {
    width:50px;
    height: 126px;
}
.botRightArm {
    width:50px;
    height: 126px;
}
.botLeftLeg {
    width:50px;
    height: 126px;
}
.botRightLeg {
    width:50px;
    height: 126px;
}
/*ID*/

/*MULTI*/
.botHead,.botBody,.botLeftArm,.botRightArm,.botLeftLeg,.botRightLeg{
    background-size: 100%;
    box-shadow: 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red;
    display: none;
}

.box, .box_full {
    background-color: lightgrey;
    box-shadow: 0 0 2px black, 0 0 2px black;
    width:10vw;
    height: 10vw;
    line-height: 5vw;
    margin: 5px;
    text-align: center;
    cursor: default;
}
.splash, .splash_full{
    transition:1s all;
    text-align: center;
    line-height: 70vh;
    cursor: default;
}
.startPage, .startPage_full {
    transition:1s all;
    text-align: center;
    height: 50vh;
    margin: 5vh 0;
    width: 100vw;
}

.divBase,.divBase_full {
    transition:1s all;
    background-color: darkgrey;
    color:white;
    width: 100vw;
    height: 100vh;
}
.winPage {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.wordWinPage {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vw;
    background-color: white;
}
/*KEYFRAME*/

/* phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/

}

/* portrait tablets and large phones, 600px and up */
@media only screen and (min-width: 600px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/
	
}

/* landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/
	
} 

/* laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/
	
} 

/* large laptops and desktops, 1200px and up */
@media only screen and (min-width: 1200px) {
	/*DOM*/

	/*CLASS*/

	/*ID*/

	/*MULTI*/

	/*KEYFRAME*/
	
}